body{
  margin: 0;
  padding: 0;
  background-image: linear-gradient(90deg, #a24cc2,#2e3fd9);
}

.formbox{
  color: white;
  background-color: #1a161c;
  width: 500px;
  position: absolute;
  left:50%;
  transform: translateX(-50%);
  text-align: center;
  font-family: segoe ui;
}

.formbox a {
  text-decoration: none;
  color: #a24cc2;
}

.formbox a:visited{
  color: #414fd1;
}

.formbox h1{
  color: white;
  font-weight: 700;
  padding-bottom: 20px;
}

.formbox input, select{
  border: 0;
  color: white;
  margin: auto;
  margin-bottom: 5px;
  text-align: center;
  width: 200px;
  height:40px;
  transition: 0.25s;
  background: none;
  border-radius: 20px;
  border: 2px solid white;
  outline: none;
  display: block;
}

.formbox input[type="file"]{
  height:25px;
  border-radius: 0px;
  display:none;
}

.formbox #fn, #ln{
  display:inline-block;
}

.formbox #pw{
  margin-bottom: 50px;
}

.formbox input:focus{
  width: 250px;
  border-color: #a24cc2;
}

::placeholder{
  color: #a24cc2;
  font-family: consolas;
}

.formbox #btn{
  border: 0;
  border-radius: 20px;
  width:200px;
  height: 40px;
  background: none;
  background-color: white;
  transition: 0.25s;
  font-family: verdana;
  font-size: 18;
  color: black;
  cursor:pointer;
}

.formbox #btn:hover{
  background-color: #a24cc2;
  color: white;
}


.formbox select{
  background: none;
  -webkit-appearance: none;
  text-indent: relative;
  align-content: center;
  font-size: 14;
  cursor: pointer;
  text-align-last: center;
}

.formbox option{
  background: none;
  background-color: #a24cc2;
  color: black;
  font-family: inherit;
  text-align: center;
  color: white;
}

.formbox option:hover{
  background-color: #a24cc2;
}

.formbox #upload{
  margin-top: 10px;
  cursor: pointer;
  transition: 0.25s;
}

.formbox #upload:hover{
  color: #a24cc2;
}

.leftCol{
  margin:0;
  padding:0;
  float: left;
  background-color: red;
  width:23%;
  height:100%;
}

.middleCol{
  float:left;
  margin-left:1%;
  background-color: green;
  width:45%;
  display: block;
}

.rightCol{
  float:right;
  margin-left: 1%;
  background-color: #ff69b5;
  width:30%;
  height:100%;
}

.navbar{
  background-color: #00000088;
  height:100%;
  display:block;
}
